################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestConsoleApp/bin
/TestConsoleApp/obj
/PowerSetLibrary/bin
/PowerSetLibrary/obj
