################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestConsoleApp/bin/Debug/netcoreapp3.0
/TestConsoleApp/obj
